/* src/styles/appStyles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #33ccff 0%, #ccffcc 100%);
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #000000; /* Set the color to white for better contrast */
}
